@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #ffffff;
    --text-color: #101828;
  }

  .theme-dark {
    --bg-color: #161C24;
    --text-color: #FFFF;
  }

  .theme-purple {
    --bg-color: #B985F4;
    --text-color: #fff;
  }

  .theme-purple-dark {
    --bg-color: #7909e8;
    --text-color: #fff;
  }

  .theme-cyan {
    --bg-color: #76F2FF;
    --text-color: #212B36;
  }

  .theme-cyan-dark {
    --bg-color: #0E77B7;
    --text-color: #212B36;
  }

  .theme-blue {
    --bg-color: #76B0F1;
    --text-color: #fff;
  }

  .theme-blue-dark {
    --bg-color: #103996;
    --text-color: #fff;
  }

  .theme-orange {
    --bg-color: #FED680;
    --text-color: #212B36;
  }

  .theme-orange-dark {
    --bg-color: #B66816;
    --text-color: #212B36;
  }

  .theme-red {
    --bg-color: #FFC1AC;
    --text-color: #fff;
  }

  .theme-red-dark {
    --bg-color: #B71833;
    --text-color: #fff;
  }

}